@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Montserrat:wght@200;400;500;600;700;800&display=swap');
body {
    margin: 0;
    background: url(./assets/DSC_4743.png) no-repeat top, radial-gradient(circle farthest-corner at 50% 50%, #ff6e02, #5a2803);
    font-family: 'ABeeZee', sans-serif;
    font-family: 'Montserrat', sans-serif;
}

.container {
    padding: 25px 0;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 110px;
}

.main-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 0.9em;
}

.main-menu-title {
    text-transform: uppercase;
    color: #502302;
    margin-bottom: 5px;
}

.city-link {
    color: #9e9187;
    text-decoration: none;
}

.main-menu-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    max-width: 600px;
    justify-content: space-between;
}

.main-menu-nav-link {
    color: white;
    text-decoration: none;
    margin: 20px 10px;
    font-weight: 400;
    font-size: 0.9em;
}

.main-block {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 15px 110px;
}

.main-block-information {
    display: flex;
    flex-direction: column;
}

.main-information-content {
    max-width: 400px;
    margin-bottom: 10px;
    color: white;
}

.main-information-title {
    font-size: 56px;
    margin: 0;
    font-weight: bold;
}

.main-information-text {
    font-size: 1em;
    font-weight: 400;
    text-align: justify;
}

.main-information-links {
    display: flex;
    flex-direction: column;
}

.link-order,
.link-franchise {
    color: white;
    text-decoration: none;
    padding-top: 50px;
}

.link-order {
    border-bottom: 2px solid white;
    font-weight: bold;
    max-width: 50px;
}

.link-franchise {
    color: #9e9187;
    font-weight: 400;
}

.main-block-links-content {
    border-bottom: 1px solid white;
    max-width: 250px;
}

.main-block-links {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px 10px 0 0;
}

.block-link {
    color: white;
    text-decoration: none;
    word-spacing: 1.5em;
}

.block-links-text {
    font-size: 0.8em;
    color: #9e9187;
}

.block-link-home {
    color: white;
    text-decoration: none;
}

.footer {
    margin: 0 110px;
    text-align: right;
    padding: 10px 0;
}

.vk {
    padding: 20px;
    background: url(./assets/iconfinder_312653_vk_vkontakte_social_square_logo_icon_512px.png) no-repeat center;
    background-size: 50%;
    opacity: 0.6;
}

.insta {
    padding: 20px;
    background: url(./assets/free-icon-instagram-1419647.png) no-repeat center;
    background-size: 50%;
    opacity: 0.6;
}

.youtube {
    padding: 20px;
    background: url(./assets/free-icon-youtube-logo-25312.png) no-repeat center;
    background-size: 50%;
    opacity: 0.6;
}

.vk:hover,
.insta:hover,
.youtube:hover {
    opacity: 1;
}